>length 85,0 0 0 252fbde,0 0 0 138067a,cvg 2,1
GCCAGTTGTTCTGACGCTCCTGACGCACATCATCCAGCTGACCAACACGACGACCCTCACTGAGGCGGTCTCCTCTCACCAAACCCATGAAACGCTGG
>length 27,0 0 0 16b8de6,0 0 0 211a284,cvg 2,1
CCGGTGATCTGCGCCATGTTCCTGTAGGACACGGAGGACA
>length 33,0 0 0 2a4818b,0 0 0 234694a,cvg 2,1
GGGCAGAACGAGTCCATGGAAATCATCGCGATGGATCACGGCCAGG
>length 27,0 0 0 3f87a16,0 0 0 33ba927,cvg 2,1
TTTGACTGGACCGGTAAGAATGTTGACTATGTGGGCAGCT
>length 69,0 0 0 1f75d86,0 0 0 39e9d61,cvg 2,1
CTTCTCCTCGACGGAAAGCGCAGCGAACTCGGCGGCAATTTCTGCGGATGCCACAGAATTAGCTGGAGATGCTGGCTCCGAC
>length 45,0 0 0 14811f3,0 0 0 1be7155,cvg 2,1
CCAGAACACTTATGGCTCTCTGGTAGCCACCAACAACGTGATCTGCGTTGCTACCCCC
>length 51,0 0 0 2d8694b,0 0 0 1f05101,cvg 2,1
GTCGACGGCCAGTACATATGGGACAAGGCTCTGTTGGCCCGTCAGGCCCGCCTTAACCACAAAC
>length 27,0 0 0 3835c42,0 0 0 17e3a02,cvg 2,1
TGAATCCTACAAGGAGCGCAATGCAGACCTTGATGGAAAG
>length 75,0 0 0 e38209,0 0 0 363604a,cvg 2,1
ATGATGAAGAAGCTGCAGGCCATTAATCCATCCGTGAAAGTGGTCTTCATGCAAATGAACCTCATGGAAAAGATGTCGATCGAACAGG
>length 45,0 0 0 38638e9,0 0 0 3c637e5,cvg 2,1
TGACGATGATGGCCTTGCGACCGGCGTAACGTCCGCTAAGGACGATTACGATCTTGCC
